@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 192, 192, 192;
  --background-start-rgb: 0, 64, 64;
  --background-end-rgb: 38, 67, 72;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 192, 192, 192;
    --background-start-rgb: 0, 64, 64;
    --background-end-rgb: 38, 67, 72;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
